/*font-family: 'Halant', serif;
font-family: 'Roboto Slab', serif;
font-family: 'Lato', sans-serif;*/

body {
    margin: 0;
    font-family: 'Lato', sans-serif;
    /*background-image: url(../images/farmer.png);*/
    /*background-color: #e8efc3;*/
}

nav {
    height: 125px;
    margin-bottom: 20px;
    background-color: #47d147;
}

li {

    line-height: 125px;
}


#logo {
    height: 125px;
}

#slogan {
    text-align: center;
    font-family: 'Oleo Script', cursive;
}

#farm {
    width: 100%;
}

.about {
    text-align: center;
    font-size: 15px;
}

.about-title {
    text-decoration: underline;
    font-size: 36px;
}

.page-footer {
    background-color: #0d1723;
}

#footer-title {
    text-align: center;
}

#facebook {
    height: 50px;
}

.contact {
	line-height: 1;
}
#linkposition {
	text-align: right;
}

.crops {
	line-height: 1.5;
}

.crop-title {
    font-size: 36px;
    text-align: left;
}
